<!DOCTYPE html>
<html data-ng-app="movieBookApp">

<head>
    <title>Movie Booking Ticket Online</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="init.js"></script>
    <script type="text/javascript" src="controller/app.controller.js"></script>
    <script type="text/javascript" src="services/services.js"></script>
    <script type="text/javascript" src="directives/movieDirective.js"></script>
    <script type="text/javascript" src="router/router.js"></script>
</head>

<body class="container" data-ng-controller="movieCtrl">
    <div data-ng-include src="headerUrl"></div>
    <div id="container">
        <div data-ng-view=""></div>
    </div>
</body>
</html>